body {
    display: flex;
    justify-content: center;
}

#container {
    text-align: center;
}

/* multiples */

#stitch-count, #rib-width {
    margin: 5px;
}

/* create */

/* sts count div */



/* rib width div */

/* button */

#submit {
    margin: 10px;
}